<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/index.css">
	<title>Render Tutorial Maker</title>
</head>

<body>
	<header><%- include('header.ejs'); %></header>
	<main>
		<section>
			<h2>Farm Model</h2>
			<p>
				This work is based on <a href="https://sketchfab.com/3d-models/low-poly-farm-v2-0e91a96ca6ee44569cf94972e30b5be4">"Low Poly Farm V2"</a> by <a href="https://sketchfab.com/Edwin3D">EdwinRC</a> licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>
			</p>
		</section>
		<section>
			<h2>Forest Model</h2>
			<p>
				This work is based on <a href="https://sketchfab.com/3d-models/low-poly-scene-forest-waterfall-536a2db7384145c9aff9bfdfe2aeb5ab">"Low Poly Scene Forest Waterfall"</a> by <a href="https://sketchfab.com/Art.Yan">Art.Yan</a> licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>
			</p>
		</section>
		<section>
			<h2>Male Model</h2>
			<p>
				This work is based on <a href="https://sketchfab.com/3d-models/facial-body-animated-party-m-0001-actorcore-aecb1b0c293a4185a91a532e635f3e6d">"Facial & Body Animated Party_M_0001 - ActorCore"</a> by <a href="https://sketchfab.com/reallusion">Reallusion</a> licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>
			</p>
		</section>
		<section>
			<h2>Mouse Model</h2>
			<p>
				This work is based on <a href="https://sketchfab.com/3d-models/a-questing-mouse-326494dbe70441d790fd74d06e5b5a39">"A Questing Mouse"</a> by <a href="https://sketchfab.com/muru">Muru</a> licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>
			</p>
		</section>
		<section>
			<h2>Spaceship Model</h2>
			<p>
				This work is based on <a href="https://sketchfab.com/3d-models/northstar-fighter-ship-a45170bb77fc4c568b7d94050ecbf54c">"Northstar fighter ship"</a> by <a href="https://sketchfab.com/bcfbox">Mark Bai</a> licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>
			</p>
		</section>
		<section>
			<h2>Flower Texture</h2>
			<p>
				This work is based on <a href="https://www.rawpixel.com/image/1199389/botanical-artwork-robert-john-thornton">"The Blue Egyptian Water-Lily from The Temple of Flora (1807)"</a> by Robert John Thornton licensed under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0-1.0</a>
			</p>
		</section>
	</main>
	<footer><%- include('footer.ejs'); %></footer>
</body>

</html>