<h1><a href="/">Render Tutorial Maker</a></h1>
<% if (!user) { %>
	<%- include('login.ejs'); %>
<% } else { %>
	<form id="logout" method="POST">
		<span>Welcome <a href="/profile"><%= user %></a></span>
		<input type="submit" value="Logout" formaction="/logout">
		<% if (error) { %><span class="error"><%= error %></span><% } %>
	</form>
<% } %>