<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/index.css">
	<title>Render Tutorial Maker</title>
	<script>
		fetch("/user_tutorials")
			.then(res => res.text())
			.then(json => {
				const container = document.getElementById("user-tutorials");
				for (let tutorial of JSON.parse(json)) {
					const entry = document.createElement("li");
					entry.innerHTML = `<a href="${tutorial}">${tutorial}</a>`;
					container.appendChild(entry);
				}
			});
	</script>
</head>

<body>
	<header><%- include('header.ejs'); %></header>
	<main>
		<section>
			<h2>Featured Tutorials</h2>
			<p><a href="/view?id=transformation" title="Transformation Tutorial">Transformation Tutorial</a></p>
			<p><a href="/view?id=texture" title="Texture Tutorial">Texture Tutorial</a></p>
			<p><a href="/view?id=fog" title="Fog Tutorial">Fog Tutorial</a></p>
			<p><a href="/view?id=light" title="Light Tutorial">Light Tutorial</a></p>
			<p><a href="/view?id=shader" title="Fragment Shader Tutorial">Fragment Shader Tutorial</a></p>

			<hr>

			<h2>User Tutorials</h2>
			<ul id="user-tutorials" style="min-height: 100px; max-height: 300px; width: 400px; overflow-y: scroll;"></ul>
		</section>
		<section>
			<h1>Tutorial Editor</h1>
			<p>Create your own tutorial.</p>
			<p><a href="/edit" title="Open Tutorial Editor">Open Tutorial Editor</a></p>
		</section>
	</main>
	<footer><%- include('footer.ejs'); %></footer>
</body>

</html>