<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="edit.css">
	<title>Profile</title>
	<script src="edit.js" type="module"></script>
</head>

<body>
	<div id="body">
		<header><%- include('header.ejs'); %></header>
		<main>
			NYI
		</main>
		<footer><%- include('footer.ejs'); %></footer>
	</div>
</body>

</html>