<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="global.css">
	<link rel="stylesheet" href="profile.css">
	<title>Profile</title>
	<script src="edit.js" type="module"></script>
</head>

<body>
	<header><%- include('header.ejs'); %></header>
	<main>
		NYI
	</main>
	<footer><%- include('footer.ejs'); %></footer>
</body>

</html>