<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="global.css">
	<link rel="stylesheet" href="view.css">
	<title>Unknown Tutorial</title>
	<script src="view.js" type="module"></script>
</head>

<body>
	<header><%- include('header.ejs'); %></header>
	<main>
		<p>Loading tutorial...</p>
	</main>
	<footer><%- include('footer.ejs'); %></footer>
</body>

</html>